doctype html
html
    head
        title= `${title}`
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/navbar.css')
        link(rel='stylesheet', href='/css/typing.css')

        link(href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet")

        link(rel='apple-touch-icon-precomposed' sizes='57x57' href='/favicon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon-precomposed' sizes='114x114' href='/favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon-precomposed' sizes='72x72' href='/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon-precomposed' sizes='144x144' href='/favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon-precomposed' sizes='60x60' href='/favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon-precomposed' sizes='120x120' href='/favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon-precomposed' sizes='76x76' href='/favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon-precomposed' sizes='152x152' href='/favicon/apple-touch-icon-152x152.png')
        link(rel='icon' type='image/png' href='/favicon/favicon-196x196.png' sizes='196x196')
        link(rel='icon' type='image/png' href='/favicon/favicon-96x96.png' sizes='96x96')
        link(rel='icon' type='image/png' href='/favicon/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='/favicon/favicon-16x16.png' sizes='16x16')
        link(rel='icon' type='image/png' href='/favicon/favicon-128.png' sizes='128x128')
        
        // Google Font
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet')
        // FontAwesome JS
        script(defer='' src='/fontawesome/js/all.min.js')
        // Theme CSS
        link#theme-style(rel='stylesheet' href='/css/pillar-2.css')
        
        meta(name='application-name' content=' ')
        meta(name='msapplication-TileColor' content='#FFFFFF')
        meta(name='msapplication-TileImage' content='/favicon/mstile-144x144.png')
        meta(name='msapplication-square70x70logo' content='/favicon/mstile-70x70.png')
        meta(name='msapplication-square150x150logo' content='/favicon/mstile-150x150.png')
        meta(name='msapplication-wide310x150logo' content='/favicon/mstile-310x150.png')
        meta(name='msapplication-square310x310logo' content='/favicon/mstile-310x310.png')


        meta(charset="utf-8")
        meta(name="description" content="Sigfrid Stjärnholm's website - About me, projects, CV, and contact")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    body
        .container
            nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded(role='tablist')
                span.navbar-brand Sigfrid Stjärnholm
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                #navbarsExample09.collapse.navbar-collapse
                    ul#myTab.nav.nav-pills.mr-auto
                        li.nav-item
                            a.nav-link.active(data-toggle="tab", href="#home", role="tab", aria-controls="profile", aria-selected="true")
                                | #{t("tabs.home")} 
                            span.sr-only
                        li.nav-item
                            a.nav-link(data-toggle="tab", href="#projects", role="tab", aria-controls="projects", aria-selected="false")
                                | #{t("tabs.projects")}  
                            span.sr-only 
                        li.nav-item
                            a.nav-link(data-toggle="tab", href="#cv", role="tab", aria-controls="cv", aria-selected="false")
                                | #{t("tabs.cv")}  
                            span.sr-only 
                        li.nav-item
                            a.nav-link(data-toggle="tab", href="#contact", role="tab", aria-controls="contact", aria-selected="false")
                                | #{t("tabs.contact")}  
                            span.sr-only 
                    ul.navbar-nav.ml-auto
                        li.nav-item.dropdown
                            if i18n.language === "sv"
                                a#dropdown09.nav-link.dropdown-toggle(href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    span.flag-icon.flag-icon-se  
                                    |  Svenska
                                .dropdown-menu(aria-labelledby="dropdown09")
                                    a.dropdown-item(href="?lng=en")
                                        span.flag-icon.flag-icon-gb 
                                        |   English
                            if i18n.language === "en"
                                a#dropdown09.nav-link.dropdown-toggle(href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    span.flag-icon.flag-icon-gb  
                                    |  English
                                .dropdown-menu(aria-labelledby="dropdown09")
                                    a.dropdown-item(href="?lng=sv")
                                        span.flag-icon.flag-icon-se 
                                        |   Svenska

            #myTabContent.tab-content
                #home.tab-pane.container.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
                    include home.pug
                #projects.tab-pane.container.fade(role='tabpanel' aria-labelledby='projects-tab')
                    include projects.pug
                #cv.tab-pane.container.fade(role='tabpanel' aria-labelledby='cv-tab')
                    include cv.pug
                #contact.tab-pane.container.fade(role='tabpanel' aria-labelledby='contact-tab')
                    include contact.pug

        // Bootstrap core JavaScript
        // Placed at the end of the document so the pages load faster
        script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        script(src="/js/typing.js")
        script(src="/js/moment.min.js")
        //- script(async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3246827463757841' crossorigin='anonymous')
        //- // Test
        //- ins.adsbygoogle(style='display:block' data-ad-client='ca-pub-3246827463757841' data-ad-slot='1900193507' data-ad-format='auto' data-full-width-responsive='true')
        //- script.
        //-     (adsbygoogle = window.adsbygoogle || []).push({});


        block content