article.resume-timeline-item.position-relative.pb-5
    .resume-timeline-item-header.mb-2
        .d-flex.flex-column.flex-md-row
            h3.resume-position-title.font-weight-bold.mb-1 
                = t("cv.edu.bachelor.title")
                = " "
                small.text-muted= t("cv.edu.bachelor.programme")
            .resume-company-name.ml-auto= t("cv.edu.bachelor.location")
        // //row
        .resume-position-time 2018 - 2021
    // //resume-timeline-item-header
    .resume-timeline-item-desc
        p= t("cv.edu.bachelor.body")
        h4.resume-timeline-item-desc-heading.font-weight-bold= t("cv.edu.bachelor.achievements.title")
            |:
        ul
            li= t("cv.edu.bachelor.achievements.programmeadvisoryboard")
            li= t("cv.edu.bachelor.achievements.studentfacultycouncil")
            li= t("cv.edu.bachelor.achievements.mathprizes")
            li= t("cv.edu.bachelor.achievements.melanderhjelms")

        // Courses
        -
            var course_list = ["analyticalmechanics", "complexanalysis", "computerprogrammingi", 
                "electromagneticfieldtheory", "electromagnetism", "elementaryparticlephysics",
                "fourieranalysis", "geometryandcalculus", "linearalgebraii",
                "mathematicalmethodsofphysics", "mathematicalstatisticskf", "mechanics",
                "medicalphysicsorientation", "nuclearphysics", "ordinarydifferentialequationsi",
                "physicsproject", "physicsprojectwitharesearchbasis", "physicsandfinance",
                "quantummechanics", "quantumphysics", "scientificcomputing",
                "specialrelativity", "statisticalmechanics", "thermodynamics",
                "wavesandoptics"]
            var course_names_sorted = course_list.map(course => t("cv.edu.bachelor.courses." + course)).sort()
        h4.resume-timeline-item-desc-heading.font-weight-bold= t("cv.edu.bachelor.courses.title")
            |:
        ul.list-inline
            each course_name in course_names_sorted
                li.list-inline-item
                    span.badge.badge-primary.badge-pill= course_name