.resume-skill-item
    h4.resume-skills-cat.font-weight-bold= t("cv.skills.software")
    ul.list-unstyled.mb-4
        li.mb-2
            .resume-skill-name Python
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 85%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name C# / C++
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 80%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name JS / TS / Node.js
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 75%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name SQL
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 80%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name HTML / CSS
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 85%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name LaTeX
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 95%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name Git
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 85%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name HTTP / DNS
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 75%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
// //resume-skill-item
.resume-skill-item
    h4.resume-skills-cat.font-weight-bold= t("cv.skills.hardware")
    ul.list-unstyled
        li.mb-2
            .resume-skill-name Arduino / Raspberry Pi
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 80%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name= t("cv.skills.computerassembly")
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 92%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name= t("cv.skills.circuits")
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 75%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
// //resume-skill-item
.resume-skill-item
    h4.resume-skills-cat.font-weight-bold= t("cv.skills.other")
    ul.list-inline
        li.list-inline-item
            span.badge.badge-primary= t("cv.skills.presentations")
        li.list-inline-item
            span.badge.badge-primary= t("cv.skills.speach")
        li.list-inline-item
            span.badge.badge-primary= t("cv.skills.structure")
        li.list-inline-item
            span.badge.badge-primary= t("cv.skills.getthingsdone")
        li.list-inline-item
            span.badge.badge-primary= t("cv.skills.teamwork")
        li.list-inline-item
            span.badge.badge-primary= t("cv.skills.independence")
        li.list-inline-item
            span.badge.badge-primary= t("cv.skills.responsible")
        