article.resume-timeline-item.position-relative.pb-5
    .resume-timeline-item-header.mb-2
        .d-flex.flex-column.flex-md-row
            h3.resume-position-title.font-weight-bold.mb-1 
                = t("cv.work.jolix.title")
            .resume-company-name.ml-auto= t("cv.work.jolix.location")
        // //row
        .resume-position-time 2016 - 
            = t("cv.present")
    // //resume-timeline-item-header
    .resume-timeline-item-desc
        p= t("cv.work.jolix.body")
        h4.resume-timeline-item-desc-heading.font-weight-bold= t("cv.work.jolix.projects.title")
            |:
        ul
            li= t("cv.work.jolix.projects.tt")
            li= t("cv.work.jolix.projects.mh")
            li= t("cv.work.jolix.projects.storm")
            li= t("cv.work.jolix.projects.owlstreet")

        // Technologies
        -
            var technologies_list = [".NET (4.5 & Core)", "Python", "Node.js", "C#", "HTML", "CSS", "Javascript/Typescript",
                "Git", "JSON", "CI/CD", t("cv.work.jolix.technologies.testdrivendevelopment"), 
                "Unit testing", "Microservices", "React", "Redux", "Swagger"]
        h4.resume-timeline-item-desc-heading.font-weight-bold= t("cv.work.jolix.technologies.title")
            |:
        ul.list-inline
            each technology in technologies_list
                li.list-inline-item
                    span.badge.badge-primary.badge-pill= technology