article.resume-timeline-item.position-relative.pb-5
    .resume-timeline-item-header.mb-2
        .d-flex.flex-column.flex-md-row
            h3.resume-position-title.font-weight-bold.mb-1 
                = t("cv.edu.bachelor.title")
                = " "
                small.text-muted= t("cv.edu.bachelor.programme")
            .resume-company-name.ml-auto= t("cv.edu.bachelor.location")
        // //row
        .resume-position-time 2018 - 2021
    // //resume-timeline-item-header
    .resume-timeline-item-desc
        p= t("cv.edu.bachelor.body")
        h4.resume-timeline-item-desc-heading.font-weight-bold= t("cv.edu.bachelor.achievements.title")
            |:
        ul
            li= t("cv.edu.bachelor.achievements.programmeadvisoryboard")
            li= t("cv.edu.bachelor.achievements.studentfacultycouncil")
            li= t("cv.edu.bachelor.achievements.mathprizes")
            li= t("cv.edu.bachelor.achievements.melanderhjelms")
        h4.resume-timeline-item-desc-heading.font-weight-bold= t("cv.edu.bachelor.courses.title")
            |:
        ul.list-inline
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.analyticalmechanics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.complexanalysis")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.computerprogrammingi")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.electromagneticfieldtheory")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.electromagnetism")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.elementaryparticlephysics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.fourieranalysis")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.geometryandcalculus")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.linearalgebraii")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.mathematicalmethodsofphysics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.mathematicalstatisticskf")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.mechanics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.medicalphysicsorientation")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.nuclearphysics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.ordinarydifferentialequationsi")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.physicsproject")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.physicsprojectwitharesearchbasis")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.physicsandfinance")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.quantummechanics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.quantumphysics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.scientificcomputing")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.specialrelativity")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.statisticalmechanics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.thermodynamics")
            li.list-inline-item
                span.badge.badge-primary.badge-pill= t("cv.edu.bachelor.courses.wavesandoptics")